body{
    min-height: 100vh;
    min-width: 100vw;
    margin: 0vh ;
}
header{
    background-color: black;
    padding-left: 25px;
    padding-bottom: 100px;
    padding-top: 20px;
    /* height: 50vh; */
    color: white;
}
header p {
    display: inline;
    padding: 0px 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

h1{
    margin: 0;
    padding-bottom: 10px;
    padding-top: 100px;
    padding-left: 5px;
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    /* height: 10vh; */
}

#webdev{
    border-right: rgb(255, 230, 0) solid 2px;
}

#about{
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
}

.h3class{
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 30px;
    border-bottom: rgb(255, 230, 0) solid;

}

.icons{
display: inline-block;
text-align: center;

}

img{
    height: 100px;
    width: 100px;
}

#skills{
    padding: 25px;
}

#projects{
    padding: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
}

#video{
    width: 40%;
    height: 40%;
    display: block;
    margin: auto;
    
}

#contact{
    padding: 25px;
    text-align: center;
}

figcaption{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.projecttitle{
    font-size: 20px;
}